* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: rgba(112,92,145,0.26);
    color: #cdd6f4;
    /* border: 2px solid rgba(138,81,237,0.35); */
    border-radius: 17px;

}

window#waybar.empty #window {
    background: none;
    border: none;
}

tooltip {
    background: #1e252e;
    border-radius: 100px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    padding: 0px;
    padding-right: 9px;
    padding-left: 9px;
    color: #7c86a3;
    border-radius: 100px;
}

#workspaces button.active {
    color: #bac5e8;
}

#workspaces button.focused {
    color: #bac5e8;
    background: #eba0ac;
    border-radius: 100px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 100px;
}

#workspaces button:hover {
    background: rgba(17,17,27,0.2);
    box-shadow: none;
    text-shadow: none;
}

#custom-power_profile,
#custom-weather,
#custom-myhyprv,
#custom-light_dark,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#custom-spotify,
#backlight {
    background: rgba(24,21,31,0.5);
    opacity: 0.9;
    padding: 0px 9px 0px 9px;
    /* margin-top: 10px; */
    margin-bottom: 5px;
    margin-top: 5px;
    border: 2px solid rgba(138,81,237,0.35);
    border-right: 0px;
    border-left: 0px;
}

/* close to left */
#bluetooth, #temperature, #backlight , #custom-myhyprvm, #workspaces, #window, #custom-spotify, #clock {
    border-radius: 100px 0px 0px 100px;
    border-left: 2px solid rgba(138,81,237,0.35);
    margin-left: 5px;
    padding-left: 15px;
}

/*close to the right */
#custom-light_dark, #workspaces, #window, #custom-spotify, #pulseaudio.microphone, #battery, #clock {
    border-radius: 0px 100px 100px 0px;
    border-right: 2px solid rgba(138,81,237,0.35);
    margin-right: 5px;
    padding-right: 15px;
}

#temperature.critical {
    color: #eba0ac;
}

#custom-spotify {
    border-radius: 100px;
    padding-right: 20px;
    padding-left: 15px;
}

#tray {
    border-radius: 100px;
    margin-right: 6px;
}

#workspaces {
    border-radius: 100px;
    margin-left: 10px;
    padding-right: 9px;
    padding-left: 9px;
}

#custom-power_profile {
    color: #a6e3a1;
    border-left: 0px;
    border-right: 0px;
}

#window {
    border-radius: 100px;
}

#clock {
    color: #fab387;
    border-radius: 100px;
    margin-right: 10px;
}

#network {
    color: #f9e2af;
    border-radius: 0px 0px 0px 0px;
    border-left: 0px;
    border-right: 0px;
}

#bluetooth {
    color: #89b4fa;
    border-radius: 100px 0px 0px 100px;
    margin-right: 0px;
} 

#pulseaudio {
    color: #89b4fa;
    border-left: 0px;
    border-right: 0px;
    padding-left: 4px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-left: 0px;
    border-radius: 0px 100px 100px 0px;
    margin-right: 10px;
    padding-left: 9px;
}

#battery {
    color: #a6e3a1;
    border-radius: 0px 100px 100px 0px;
}

