@define-color rosewater #f4dbd6;
@define-color flamingo #f0c6c6;
@define-color pink #f5bde6;
@define-color mauve #c6a0f6;
@define-color red #ed8796;
@define-color maroon #ee99a0;
@define-color peach #f5a97f;
@define-color yellow #eed49f;
@define-color green #a6da95;
@define-color teal #8bd5ca;
@define-color sky #91d7e3;
@define-color sapphire #7dc4e4;
@define-color blue #8aadf4;
@define-color lavender #b7bdf8;
@define-color text #cad3f5;
@define-color subtext1 #b8c0e0;
@define-color subtext0 #a5adcb;
@define-color overlay2 #939ab7;
@define-color overlay1 #8087a2;
@define-color overlay0 #6e738d;
@define-color surface2 #5b6078;
@define-color surface1 #494d64;
@define-color surface0 #363a4f;
@define-color base #24273a;
@define-color mantle #1e2030;
@define-color crust #181926;

@define-color blue-transparent rgba(138, 173, 244, 0.35);

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: @base;
    color: @text;
    border-radius: 15px;
    border: 2px solid @blue-transparent;
}

window#waybar.empty #window {
    background: none;
    border: none;
}

tooltip {
    background: #1e252e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    padding: 0px;
    padding-right: 5px;
    padding-left: 5px;
    color: @subtext0;
    border-radius: 100%;
}

#workspaces button.active {
    color: @text;
}

#workspaces button.focused, #workspaces button.urgent {
    color: #11111b;
    background: @lavender;
    border-radius: 10px;
}

#workspaces button:hover {
    background: @crust;
    box-shadow: none;
    text-shadow: none;
}

#custom-power_profile,
#custom-pkg_updates,
#language,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#custom-temperature,
#workspaces,
#tray,
#cpu,
#memory,
#custom-playerctl,
#disk,
#cava,
#backlight {
    background: @mantle;
    opacity: 0.9;
    padding: 0px 5px 0px 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 2px solid rgba(0,0,0,0);
}

/* close to left */
#custom-temperature, #custom-pkg_updates, #network {
    border-radius: 10px 0px 0px 10px;
    border-left: 2px solid rgba(0,0,0,0);
    margin-left: 4px;
    padding-left: 10px;
}

/*close to the right */
#disk, #language, #custom-spotify, #battery {
    border-radius: 0px 10px 10px 0px;
    border-right: 2px solid rgba(0,0,0,0);
    margin-right: 4px;
    padding-right: 10px;
}

/*close to both sides */
#custom-playerctl, #clock, #workspaces, #tray, #window {
    border-radius: 10px;
    border-right: 2px solid rgba(0,0,0,0);
    border-left: 2px solid rgba(0,0,0,0);
    margin-right: 4px;
    margin-left: 4px;
    padding-right: 10px;
    padding-left: 10px;
}

#network {
    color: @yellow;
    padding-right: 0;
}

#pulseaudio {
    color: @blue;
}

#memory {
    color: @green;
}

#battery {
    color: @sky;
}

#clock {
    color: @pink;
    margin-right: 12px;
}

#tray > * {
    opacity: 0.6;
}

#image {
    margin: 2px;
    margin-left: 15px;
    margin-right: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
    border: 0px solid rgba(0,0,0,0);
    border-radius: 10px;
}
