@import '/home/strawberries/.cache/wal/colors-waybar.css';

* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 13px;
    min-height: 0;
    margin: 1px 0;
}

window#waybar {
    background: @transparent-background-double;
    color: #cdd6f4;
}

window#waybar.empty #window {
    background: none;
}

#custom-power_profile,
#custom-pkg_updates,
#language,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#custom-temperature,
#workspaces,
#custom-spotify,
#cpu,
#memory,
#tray,
#disk,
#backlight {
    padding: 0 5px;
}

/*
#custom-temperature, #workspaces, #custom-spotify, #image {
    margin-left: 2px;
    padding-left: 11px;
}

#window, #tray, #custom-spotify, #clock, #language, #disk, #network {
    margin-right: 2px;
    padding-right: 11px;
}
*/

#workspaces {
    margin-left: 6px;
}

#workspaces button {
    padding: 0 2px;
    margin-right: 2px;
    border-radius: 100%;
    border: none;
    color: @transparent-foreground;
}

#workspaces button.active {
    color: @foreground;
}

#workspaces button.focused {
    color: @transparent-foreground;
}

#workspaces button.urgent {
    color: #11111b;
    background: @transparent-foreground;
}

#workspaces button:hover {
    background: @transparent-background;
    box-shadow: none;
    text-shadow: none;
}

#image {
  margin-left: 10px;
}

#clock {
    color: @color2;
    margin-right: 10px;
}

#custom-temperature, #memory, #cpu, #disk, #bluetooth {
    color: @color5;
}

#pulseaudio, #backlight {
    color: @color4;
}

#battery, #network {
    color: @color6;
}

#tray {
    opacity: 0.75;
}
