* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 20px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

window#waybar.empty #window {
    background: none;
}

tooltip {
    background: #1e252e;
    border-radius: 13px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    padding: 10px;
    padding-right: 16px;
    padding-left:16px;
    color: #7c86a3;
    border-radius: 10px;
}

#workspaces button.active {
    color: #bac5e8;
}

#workspaces button.focused {
    color: #bac5e8;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: rgba(17,17,27,0.2);
    box-shadow: none;
    text-shadow: none;
}

#custom-power_profile,
#custom-weather,
#custom-myhyprv,
#custom-light_dark,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#custom-spotify,
#backlight {
    background: rgba(30,37,46,0.5);
    /* #1e1e2e */
    opacity: 0.9;
    padding: 0px 13px;
    margin-top: 10px;
}

/* close to left */
#temperature, #backlight , #custom-myhyprvm {
    border-radius: 10px 0px 0px 10px;
}

/*close to the right */
#bluetooth, #custom-light_dark {
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#temperature.critical {
    color: #eba0ac;
}

#custom-spotify {
    border-radius: 10px;
    margin-right: 12px;
    margin-left: 10px;
    padding-right: 18px;
    padding-left: 10px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 0px;
}

#custom-power_profile {
    color: #a6e3a1;
    border-left: 0px;
    border-right: 0px;
}

#window {
    border-radius: 10px;
    margin-left: 10px;
}

#clock {
    color: #fab387;
    margin-right: 10px;
    border-radius: 10px 10px 10px 10px;
}

#network {
    color: #f9e2af;
    border-radius: 0px 0px 0px 0px;
    border-left: 0px;
    border-right: 0px;
}

#bluetooth {
    color: #89b4fa;
    border-radius: 10px 0px 0px 10px;
    margin-right: 0px;
} 

#pulseaudio {
    color: #89b4fa;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#battery {
    color: #a6e3a1;
    margin-right: 10px;
    border-radius: 0px 10px 10px 0px;
}

#custom-weather {
    border-radius: 0px 10px 10px 0px;
    border-right: 0px;
    margin-left: 0px;
}
